accordion/accordion.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Accordion</title>
    <link rel="stylesheet" href="accordion.css">
  </head>
  <body>
    <ul id="trazas_lista" class="accordion">
      <li class="active">
        <div class="header">Section 1
          <button class="btnAccordionToggle">-</button>
        </div>
        <div class="content">Content 1</div>
      </li>
      <li>
        <div class="header">Section 2
          <button class="btnAccordionToggle">+</button>
        </div>
        <div class="content">Content 2</div>
      </li>
      <li>
        <div class="header">Section 3
          <button class="btnAccordionToggle">+</button>
        </div>
        <div class="content">Content 3</div>
      </li>
    </ul>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="accordion.js"></script>
  </body>
</html>

accordion/accordion.jade
!!! 5
html(lang='en')
	head
		meta(charset='UTF-8')
		title Accordion
		link(rel='stylesheet', href='accordion.css')
	body
		ul#trazas_lista.accordion
			li.active
				.header
					| Section 1
					button.btnAccordionToggle -
				.content
					| Content 1
			li
				.header
					| Section 2
					button.btnAccordionToggle +
				.content
					| Content 2
			li
				.header
					| Section 3
					button.btnAccordionToggle +
				.content
					| Content 3
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='accordion.js')
