tabs/tabs.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tabs</title>
    <link rel="stylesheet" href="tabs.css">
  </head>
  <body>
    <p>Auto width tabs:</p>
    <div class="tabs">
      <ul class="tabsHeaders">
        <li class="active">Tab 1</li>
        <li>Tab 2</li>
      </ul>
      <ul class="tabsContent">
        <li class="active">Content 1</li>
        <li>Content 2</li>
      </ul>
    </div><br>
    <p>Full width tabs:</p>
    <div class="tabs">
      <ul class="tabsHeaders fullWidth">
        <li class="active">Tab 1</li>
        <li>Tab 2</li>
      </ul>
      <ul class="tabsContent">
        <li class="active">Content 1</li>
        <li>Content 2</li>
      </ul>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="tabs.js"></script>
  </body>
</html>

tabs/tabs.jade
!!! 5
html(lang='en')
	head
		meta(charset='UTF-8')
		title Tabs
		link(rel='stylesheet', href='tabs.css')
	body
		p Auto width tabs:
		.tabs
			ul.tabsHeaders
				li.active Tab 1
				li Tab 2
			ul.tabsContent
				li.active
					| Content 1
				li
					| Content 2
		br
		p Full width tabs:
		.tabs
			ul.tabsHeaders.fullWidth
				li.active Tab 1
				li Tab 2
			ul.tabsContent
				li.active
					| Content 1
				li
					| Content 2
		script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='tabs.js')
